#header{
    display: flex;
    align-items: center; /* Vertically align logo and text */
    justify-content: center; /* Center text horizontally */
    padding: 10px 20px;
    background-image: url(../assets/header_image_2.jpg);
    height:260px;
    width:100%;
    background-size:cover;
    font-family: "Indie Flower", serif;
    position: relative;
    

    h1 {
        position: absolute; /* Remove text from flow, so we can center it */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for exact centering */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 
        -2px -2px 4px rgba(255, 255, 255, 0.6);
        color:#FAF9F6;
        font-size: 45px;
        letter-spacing: 5px;
       
      }

     .logo {
        height: 200px; /* Adjust size */
        position: absolute; /* Place logo to the left */
        left: 20px; /* Adjust the logo's distance from the left */
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6); /* Shadow under the logo */
      }

    
}